

@{
    ViewData["Title"] = "Crear Cuenta";
}

<div class="container">
    <h2>Crear Cuenta</h2>
    <form asp-action="Crear" method="post">
        <div class="form-group">
            <label for="Nombre">Nombre de Cuenta:</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" required>
        </div>
        <div class="form-group">
            <label for="TipoCuentaId">Email :</label>
            <select class="form-control" id="Email" name="Email" asp-items="ViewBag.Crear"></select>
        </div>
        <div class="form-group">
            <label for="TipoCuentaId">Domicilio :</label>
            <select class="form-control" id="Email" name="Email" asp-items="ViewBag.Crear"></select>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>
