@model Producto
@{
    ViewData["Title"] = "Crear Producto";
}
@* //html *@
<h1>
    Agregar Producto
</h1>



<form >
  
    <label for="name">Id</label>
        <input type="text" id="name" name="name">         
         <br> <!-- saltos para que no quede pegado -->


         <label for="name">Nombre</label>
        <input type="text" id="name" name="name">         
         <br> <!-- saltos para que no quede pegado -->


        <label for="name">Descripcion</label>
        <input type="text" id="name" name="name">
        <br> <!-- saltos para que no quede pegado -->


        <label for="name">Tipo</label>
        <input type="text" id="name" name="name">
        <br> <!-- saltos para que no quede pegado -->


    


        <label for="checkbox">Ha llenado todos los campos </label>
        <input type="checkbox" name="checkbox" id="checkbox">
        <br>

        <input type="submit" value="Enviar formulario">
        <input type="reset" value="Limpiar formulario">


      
         <button type="button" class="btn btn-primary" onclick="Atras();"> Volver a inicio </button>
</form>

