


<div style="text-align: center;">
    <button type="button" onclick="Hamster();"> Hamster </button>

    <button type="button" onclick="Smoothies();"> Perros </button>

    <button type="button" onclick="Productosconazucar();"> Gatos </button>

    <button type="button" onclick="Cafefrio();"> Cobayas </button>

</div>


    <p class="lead" style="text-align:center">
      Somos una tienda ubicada en Escazu vendemos todo tipo de productos para tus mascotas collares, fuentes de agua , tambien traemos productos por encargo <br>
      hacemos envios por medio de mensajero privado o por medio de correos de costa rica 
    </p>

    <div class="container col-12" style="align-items: center;">
        <div class="row">
            <div class="listado col-12">
                <h1 id="inf"> Nuestros Productos </h1>
            </div>
            <br>
            <div class="col-sm-4">
                <div class="card" style="background-color: #f7e1f9;">
                    <div class="card-body">
                        <h5 class="card-title text-left"> <img id="Joss" src="./recursos/joss.jpeg" style="height: 350px;" width="420px"></h5>
                        <p class="card-text"><label id="componente"> </label><br> Nació el 03 de Diciembre de 1994, su gusto por lo saludable la llevo a crear junto a 2 de sus amigos esta empresa, tres jovenes interesados por la salud de las personas llevaron su camino a ayudar a aquellas personas que quieran darse un gusto, estudio recursos humanos y su gusto por la tecnologia la llevo a estudiar un tecnico en programación y su conocimiento los ayudo en el diseño de la página.  </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" style="background-color: #d2f0f6;">
                    <div class="card-body">
                        <h5 class="card-title text-left"> <img id="Gabriel" src="./recursos/gabriel.jpeg" style="height: 350px;" width="420px"></h5>
                        <p class="card-text"><label id="componente"> </label><br> Nació el 14 de Agosto de 2003, este joven junto a sus 2 amigos se intereso por la salud de su familia, pues tiene descendencia diabetica, estudió agroindustria alimentaria con enfasis en tecnologia pecuaria, ademas de eso estudia programacion y ha fue de gran ayuda para implementar esta página</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" style="background-color: #c5fbbb;">
                    <div class="card-body">
                        <h5 class="card-title text-left"> <img id="Joshua" src="./recursos/joshua.jpeg" style="height: 350px;" width="420px"></h5>
                        <p class="card-text"><label id="componente"> </label><br> Nació el 21 de Junio de 2005, es el menor de los 3 amigos.Su mayor motivacion es manetenerse con salud y gracias a esto su ayuda es fundamental pues para el este proyecto es muy importante por eso estudio programación para implementar esta página web. </p>
                    </div>
                </div>
            </div>
   </div>
   </div>