


<div style="text-align: center;">
    <button type="button" onclick="Hamster();"> Hamster </button>

    <button type="button" onclick="Smoothies();"> Perros </button>

    <button type="button" onclick="Productosconazucar();"> Gatos </button>

    <button type="button" onclick="Cafefrio();"> Cobayas </button>

</div>




<div class=" container">
    
    <div clas="col sm-3">


    <img src="~/lib/Canasra.jpeg" style="align-items: center ; border-color:pink ; border-radius:100px ;  height: 200px; width: 200px">


    </div>


    <div >


    <img src="~/lib/Prueba.jpg" style= "border-color:pink ; border-radius:100px ;  height: 200px; width: 200px">


    </div>


    <div class="col sm-3">


    <img src="~/lib/Camagato.jpeg" style=" border-color:pink ; border-radius:100px ;  height: 200px; width: 200px">


    </div>
</div>



<div >


    <img src="~/lib/Camagato.jpeg" style=" border-color:pink ; border-radius:100px ;  height: 200px; width: 200px">


</div>